<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cba8b4b5-0fc7-4e9e-8a58-800516d5ebec" name="Insurance Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cba8b4b5-0fc7-4e9e-8a58-800516d5ebecfileName">Insurance-Test-Suite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>